:root
  --img-logo: url('/image/logo.png')
  --width: 1336px
  --page-width: 1200px
  --min-width: calc( var(--width) + 2rem )
  --min-page-width: calc( var(--page-width) + 2rem )
  --color-first-live-line: #FF0011
  --color-primary: #0E77FF
  --color-secondary: #0EACFF
  --color-login-button: var(--color-primary)
  --color-login-input: #434343
  --color-login-placeholder: #B0B4B3
  --color-join-button: var(--color-secondary)
  --color-primary-text: #f5f5f5
  --color-secondary-text: #888888
  --color-primary-bg: #000000
  --color-secondary-bg: #212224
  --color-tertiary-bg: #434343
  --color-header-bg: #212224
  --color-platform-bg: #212224
  --color-footer-bg: #434343
  --color-footer-line: #707070

:root[data-theme="light"]
  --img-logo: url('/image/logo_light.png')
  --color-login-input: #C8CEE0
  --color-login-placeholder: #717171
  --color-primary-text: #272727
  --color-primary-bg: #ffffff
  --color-secondary-bg: #EFF0F4
  --color-header-bg: #EFF0F4
  --color-platform-bg: #EFF0F4
  --color-footer-bg: #C8CEE0


@import base
@import layout
@import page

.changeColor-block
  position: fixed
  top: 10%
  right: 10px
  z-index: 9999

.changeColor-edit
  position: absolute
  right: 0
  bottom: 100%
  .edit
    cursor: pointer
    width: 44px
    height: 44px
    background-color: #e9edf6
    border-radius: 50%
    svg
      width: 40%
      color: #2a2c30
      margin: 0 auto
    &:hover
      background-color: #bad0ed

.changeColor-wrap
  width: 200px
  color: #000
  background-color: #e9edf6
  border-radius: 10px
  padding: 10px
  .changeColor-item
    display: flex
    flex-direction: column
    + .changeColor-item
      margin-top: 10px
  .changeColor-title
    font-size: 13px
    padding-bottom: 2px
  .changeColor-btn
    display: flex
    align-items: center
    gap: 4px
    .color
      cursor: pointer
      display: inline-block
      flex: 0 0 30px
      width: 30px
      height: 30px
      border-radius: 50%
      cursor: pointer
      border: 1px solid #ccc
      input[type="color"]
        width: 0
        height: 0
        opacity: 0
  .changeColor-input
    width: 100%
    height: 30px
    background-color: #fff
    border: 1px solid #dbe1ef
    border-radius: 4px
    padding: 0 10px
  .changeColor-submit
    cursor: pointer
    width: 100%
    height: 40px
    font-size: 14px
    background-color: #bad0ed
    border-radius: 4px
    margin-top: 10px
    transition: .3s background-color
    &:hover
      background-color: #9fbbe0


.changeColor-default
  display: grid
  grid-template-columns: repeat(2, 1fr)
  border: 1px solid #f7f8fc
  margin-bottom: 10px
  .color-item
    cursor: pointer
    overflow: hidden
    display: inline-flex
    justify-content: center
    align-items: center
    width: 100%
    height: 30px
    font-size: 12px
    transition: outline-color .3s
    &.active
      background-color: #fff
      box-shadow: inset 0 0 0 1px #336fff